<!doctype html>
<html lang="en">

    <head>
        {{> head }}
    </head>

    <body class="fix-header">

        <div class="preloader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>

        <div id="wrapper">
            {{> header-menu }}
            {{> sidebar-menu }}

            <div id="page-wrapper">
                {{> body }}
                {{> footer }}
            </div>
        </div>

        {{> js}}

    </body>
</html>